volumes:
  static-volume:
  letsencrypt:


services:
  adl: &adl
    container_name: adl
    image: adl
    expose:
      - 80
      - 443
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app
      - static-volume:/app/live-static-files
    command: /app/scripts/start.sh
    restart: on-failure
    env_file: .env
    networks:
      - gateway

networks:
  gateway:
    external: true
