version: '3'

volumes:
  static-volume:
  letsencrypt:


services:
  adl: &adl
    container_name: adl
    image: adl
    ports:
      - "8000:8000"
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app
      - static-volume:/app/live-static-files
    command: /app/scripts/start.sh
    restart: on-failure
    env_file: .env
    networks:
      - atri

networks:
  atri:
    #    external: true
    driver: bridge
