{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>
			{{ web_name }}
		</title>
		<meta name="description" content="使用視覺化方式呈現農產品貿易統計資料">
		<meta name="author" content="moa">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Preload fontawesome font-->
		<link nonce="{{ CSP_NONCE }}" rel="preload" href="{% static 'vendor/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2" crossorigin />

		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/bootstrap.min.css' %}">
		<!-- fontawesome 5.15.4 Styles -->
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/fontawesome.min.css' %}">
		{% comment %} <link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="print"" href="{% static 'vendor/css/bootstrap.min.css' %}" media="screen">
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="print" href="{% static 'vendor/css/font-awesome.min.css' %}" media="screen"> {% endcomment %}

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/smartadmin-production-plugins.min.css' %}"> -->
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/smartadmin-production.min.css' %}">
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/smartadmin-skins.min.css' %}">
		{% comment %} <link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="print" href="{% static 'vendor/css/smartadmin-production.min.css' %}" media="screen">
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="print" href="{% static 'vendor/css/smartadmin-skins.min.css' %}" media="screen"> {% endcomment %}

		<!-- SmartAdmin RTL Support -->
		<!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'vendor/css/smartadmin-rtl.min.css' %}"> -->

		<!-- Custom StartAdmin Styles -->
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-shortcut.custom.css' %}">
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin.custom.css' %}">
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="screen" href="{% static 'css/index.css' %}">
		{% comment %} <link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="print" href="{% static 'css/smartadmin.custom.css' %}" media="screen">
		<link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="print" href="{% static 'css/index.css' %}" media="screen"> {% endcomment %}
		{% comment %} <link nonce="{{ CSP_NONCE }}" rel="stylesheet" type="text/css" media="print" href="{% static 'css/mask.css?v=2' %}" media="screen"> {% endcomment %}
		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

		<!-- #GOOGLE FONT -->
		{% comment %} <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"> {% endcomment %}

		<!-- Plugin Styles -->
		<!-- <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css"> -->
		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css"> -->
		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css"> -->
		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.11/css/bootstrap-select.min.css"> -->
		<!-- SocialWall Styles -->
		<!-- <link rel="stylesheet" href="{% static 'css/smartadmin-socialwall.custom.css' %}"> -->
		
	</head>
	<body class="smart-style-2 fixed-header fixed-navigation">

		{% include 'header.html' %}
		{% include 'navigation.html' %}
		{% include 'main-panel.html' %}
		{% include 'footer.html' %}
		{% comment %} {% include 'shortcut.html' %} {% endcomment %}

		<!--================================================== -->

		<!-- Parse i18n-->
    	<script nonce="{{ CSP_NONCE }}" src='{% url "parse_javascript" %}'></script>

		<!-- #PLUGINS -->
		<!-- Link to Google CDN's jQuery + jQueryUI + jQueryCookie; fall back to local -->
		{% comment %} <script nonce="{{ CSP_NONCE }}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
		<script nonce="{{ CSP_NONCE }}" >
			if (!window.jQuery) {
				document.write('<script src="{% static 'vendor/js/libs/jquery-3.6.0.min.js' %}"><\/script>');
			}
		</script> {% endcomment %}
		<script nonce="{{ CSP_NONCE }}" src="{% static 'vendor/js/libs/jquery-3.6.0.min.js' %}"></script>

		{% comment %} <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="{% static 'vendor/js/libs/jquery-ui.min.js' %}"><\/script>');
			}
		</script> {% endcomment %}
		<script nonce="{{ CSP_NONCE }}" src="{% static 'vendor/js/libs/jquery-ui.min.js' %}"></script>

		{% comment %} <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script>
			if (!window.jQuery.cookie) {
				document.write('<script src="{% static 'vendor/js/libs/jquery.cookie.js' %}"><\/script>');
			}
		</script> {% endcomment %}
		{% comment %} <script nonce="{{ CSP_NONCE }}" src="{% static 'vendor/js/libs/jquery.cookie.js' %}"></script> {% endcomment %}

		<!-- Browser check -->
		{% comment %} <script>if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1)){window.location = '{% url 'browser_not_support' %}';}</script> {% endcomment %}

		<!-- jQuery Cookie -->
		{% comment %} <script src='{% static "vendor/js/plugin/date.js/date-zh-TW.js" %}'></script> {% endcomment %}

		<!-- IMPORTANT: APP CONFIG -->
		<script nonce="{{ CSP_NONCE }}" src="{% static 'vendor/js/app.config.seed.js' %}"></script>

		<!-- BOOTSTRAP JS -->
		<script nonce="{{ CSP_NONCE }}" src="{% static 'vendor/js/bootstrap/bootstrap.min.js' %}"></script>

		<!-- JARVIS WIDGETS -->
		{% comment %} <script src="{% static 'vendor/js/smartwidgets/jarvis.widget.js' %}"></script> {% endcomment %}

		<!-- jQuery UI i18n -->
		{% get_current_language as LANGUAGE_CODE %}
		{% if LANGUAGE_CODE == 'zh-hant' %}
			<script nonce="{{ CSP_NONCE }}" src='{% static "vendor/js/libs/datepicker-zh-TW.js" %}'></script>
		{% endif %}

		<!-- MAIN APP JS FILE -->
		<script nonce="{{ CSP_NONCE }}" src="{% static 'vendor/js/app.js' %}"></script>

		<!-- Custom APP JS FILE -->
		<script nonce="{{ CSP_NONCE }}" src="{% static 'js/app.custom.js' %}"></script>

		<!-- JavaScript Plugin -->
		<!-- <script nonce="{{ CSP_NONCE }}" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/js/bootstrap-dialog.min.js"></script> -->

		<!-- Custom Plugin -->
		<!-- <script nonce="{{ CSP_NONCE }}" src="{% static 'js/basefunction.js' %}"></script> -->

		{% if use_ga %}
			{% include "snippets/ga.html" with ga_tracking_id=ga_tracking_id %}
		{% endif %}

		<script nonce="{{ CSP_NONCE }}">
		let which = "{{which}}"
		{% comment %} console.log('which=',which) {% endcomment %}
		if(which!='nothing'){
			// url 還原，只留 host					
			let host = location.protocol + "//" + location.host;
			history.pushState(null,'',host);	
			//直接點第二層
			$('nav ul li ul li a').eq(which-1).trigger('click');		
		}

		</script>
	</body>
</html>
