{% load static %}
{% load i18n %}
{% comment %} {% load watchlist_filter %} {% endcomment %}

<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
<aside id="left-panel">


    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
			<li>
                <a href="{% url 'about' %}" title="關於"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">主頁</span></a>
            </li>
		<li>
                {% comment %} <a color-alert href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-yellow"></i>
                    <span class="menu-item-parent">總體</span>
                </a>
                <ul>
					<li>
						<a color-alert href="/tableau1"><span class="menu-item-parent">總覽</span></a>
					</li>
					<li>
						<a color-alert href="/tableau2"><span class="menu-item-parent">進出口總覽</span></a>
					</li>
				</ul>
            </li> {% endcomment %}
            <li>
                <a color-alert href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i>
                    <span class="menu-item-parent">災害損失</span>
                </a>
				<ul>
					<li>
						<a color-alert href="/tableau3"><span class="menu-item-parent">農業災害產物及民間設施損失</span></a>
					</li>
					<li>
						<a color-alert href="/tableau4"><span class="menu-item-parent">農業災害公共設施損失 </span></a>
					</li>
                    <li>
						<a color-alert href="/tableau5"><span class="menu-item-parent">農業災害產物損失</span></a>
					</li>
					<li>
						<a color-alert href="/tableau6"><span class="menu-item-parent">111年災害分布情形</span></a>
					</li>
				</ul>
            </li>
            {% comment %} <li>
                <a color-alert href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-green"></i>
                    <span class="menu-item-parent">農產品別</span>
                </a>
				<ul>
					<li>
						<a color-alert href="/tableau5"><span class="menu-item-parent">農業災害產物損失</span></a>
					</li>
					<li>
						<a color-alert href="/tableau6"><span class="menu-item-parent">111年災害分布情形</span></a>
					</li>
				</ul>
            </li> {% endcomment %}
            {% comment %} <li>
                <a color-alert href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-red"></i>
                    <span class="menu-item-parent">主題式專區</span>
                </a>
                <ul>
					<li>
						<a color-alert href="/tableau7"><span class="menu-item-parent">SSG</span></a>
					</li>
					<li>
						<a color-alert href="/tableau8"><span class="menu-item-parent">豬肉進出口</span></a>
					</li>
				</ul>
				</li> {% endcomment %}

	    </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
<!-- END NAVIGATION -->
