{% load i18n %}
{% load static %}
<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

	<!-- col -->
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">

			<!-- PAGE HEADER -->
			<i class="fa-fw fas fa-home"></i>
				{% trans 'Main' %}
			<span>>
				{% trans 'About' %}
			</span>

		</h1>
	</div>
	<!-- end col -->
</div>
<!-- end row -->

	<!-- row -->
	<div class="row">
        <div class="col-sm-12">
			<div class="alert alert-success fade in">
				<button class="close" data-dismiss="alert">
					×
				</button>
				<i class="fa-fw fas fa-check-square"></i> 建議使用 Chrome / Edge / Firefox 瀏覽本網站
			</div>
			<div class="alert alert-warning fade in">
				<button class="close" data-dismiss="alert">
					×
				</button>
				<i class="fa-fw fas fa-exclamation-triangle"></i> 需開啟 Cookie 才能正常瀏覽網站的圖表
			</div>
			<!-- start jumbotron -->
            <div class="jumbotron">
              <div>
                <h6 class="font-lg">資料期間：</h2>
                <p>
                  1989 年 1 月至 {{ tableau_update_year }} 年 {{ tableau_update_month }} 月(其中 {{ tableau_update_month }} 月為草本)
                </p>
                <hr>
                <h6 class="font-lg">指標說明</h2>
                <p>	一、統計範圍及對象：進出我國經濟領域之農產品，包含進出台灣、澎湖、金門、馬祖之農產貨物，及本國籍漁船在海外販售之水產品(簡稱海外售魚)，均為統計範圍及對象。<br>
					二、統計標準時間：<br>

					&emsp;&emsp;1.進出口報單以海關放行並完成審核之日期為準。<br>
					&emsp;&emsp;2.海外售魚資料以農業部漁業署提供月份為準。<br>
	
					三、計價基礎：進口貨物以起岸價格(C.I.F.)計算，出口貨物以離岸價格(F.O.B.)計算。<br>
					四、原始資料引用財政部關務署之貨品進出口（不含復進出口）統計資料。<br>
                </p>
                <hr>
                <h6 class="font-lg">注意事項</h2>
				
                <p>	1.由於系統計算方式差異，本網站所載數字，部分容與財政部關務署存有尾差，敬請仍以財政部關務署實際發布資料為準。<br>
					2.105年起按一般貿易制度編製。<br>
					3.2012年1月始有新台幣資料。
                </p>
				
                <hr>
                {% comment %} <h6 class="font-lg">使用手冊</h2> {% endcomment %}
                {% comment %} <p>資料更新中... {% endcomment %}
                </p>
                <hr>
								<!-- {% comment %} <p> -->
								<!-- <a href="{% static 'doc/document.pdf' %}" target="_blank" style="text-decoration:underline;">{% trans 'Download document' %}</a> -->
								<!-- </p> {% endcomment %} -->
				<!-- <hr> -->
				<!-- <h6 class="font-lg">注意事項</h6> -->
				<!-- <p>資料更新中... -->
				<!-- </p> -->
				<!-- <hr> -->
                <!-- <h6 class="font-lg">合作單位</h2> -->
                <!-- <p>資料更新中... -->
                <!-- </p> -->
              </div>
            </div>
            <!-- end jumbotron-->
		</div>
	</div>
	<!-- end row -->


<script>


	pageSetUp();

	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 *
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 *
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){
	 *  loadScript(".../plugin.js", run_after_loaded);
	 * }
	 *
	 * OR you can load chain scripts by doing
	 *
	 * loadScript(".../plugin.js", function(){
	 * 	 loadScript("../plugin.js", function(){
	 * 	   ...
	 *   })
	 * });
	 */

	// pagefunction

	var pagefunction = function() {
		// clears the variable if left blank
	};

	// end pagefunction

	// run pagefunction
	pagefunction();

</script>
